
/* DbTables */
.List .setScroll {
  overflow-y: auto;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
.List_tuplas.table { margin-bottom: 0px; }

/****** pagination ***/
.List .pagination {
  margin: 2px 0;
}

.List_paginacion {
  margin-top: 12px;
}

.List_paginacion .pull-left {
  line-height: 37px;
}

/** Search **/
.FormSearch { margin-bottom: 12px; }
.FormSearch .clear_search {
  margin-left: -23px;
  margin-right: 12px;
}

/****** Order ***/
.btFieldOrder>.material-icons {
  color: #444;
}


/******* Data *******/
.List_tuplas thead th {
  white-space: nowrap;
}

.List_tuplas tbody td {
  cursor:pointer;
}

/* onClickUser */
.List_tuplas tbody td.onClickUser {
  color:blue;
}

/******* optionsBar *******/
.List_tuplas .optionsBar {
  padding: 2px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  cursor: default;
  width: 100px;
}
/*-----*/
.List_tuplas .optionsBar a,
.List_tuplas .optionsBar button,
.List_tuplas .optionsBar span {
  margin: 0 5px;
}
.List_tuplas .optionsBar svg {
  min-width: 20px;
}

.List_tuplas .optionsBar button.on_new {
  max-width: 125px;
}