
/*-- CrudCore: dashboard --*/

form {
    width: 100%;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #eaeaea;
}

/* messages */
#admin-messages {
    position: absolute; top: 1px; left: 0; width: 100%; z-index: 10000;
}
#admin-messages .callout {
    padding: 10px 20px 10px 19px;
    display: table; margin: auto; text-align: left;
}
.callout.callout-notify {
    background-color: lightskyblue !important;
}
.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #ffedb5 !important;
}

/* fieldset */
fieldset.fieldset {
    border: 1px solid #e1e1e1;
    background: whitesmoke;
    margin-bottom: 28px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 26px;
    padding-bottom: 10px;
}
fieldset > legend {
    width: initial;
    border: 0;
    padding: 0px 12px;
    margin-bottom: 0px;
    background: #fff;
    font-weight: normal;
    font-style: italic;
}
